// Typography

// Alegreya:
//      400i
//      700i
// Open+Sans
//      400,
//      800

$base-font-family:    'Open Sans', sans-serif;
$accent-font-family:  'Alegreya', serif;
$heading-font-family: 'Open Sans', sans-serif;
$font-regular:        400;
$font-bold:           800;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Theme Colors
$color-cream    : #fcf2f2;
$color-blue     : #88b2cc;
$color-plum     : #5d5762; // default
$color-plum-2   : #4a4756; // medium dark
$color-plum-3   : #3a3747; // dark


// UI Colors
$color-vista    : #79D1AD;
$color-mandy    : #e67478;
$color-apricot  : #ed8864;
$color-eastside : #9279c3;

// UI Colors Map
$ui-colors: (
 default        : $color-blue,
 success        : $color-vista,
 error          : $color-mandy,
 warning        : $color-apricot,
 info           : $color-eastside
);

// Grey Colors
$color-white:        rgba(255,255,255,0.75);
$color-x-light-grey: #f6f5fa; // Backgrounds
$color-light-grey:   #d7d8da; // Borders
$color-medium-grey:  #a6a5aa; // Typography
$color-dark-grey:    #54525e; // Typography
$color-x-dark-grey:  #0f0b22;

$color-grey: $color-medium-grey;

$grey-colors: (
    light:        $color-white,
    x-light-grey: $color-x-light-grey,
    light-grey:   $color-light-grey,
    medium-grey:  $color-medium-grey,
    dark-grey:    $color-dark-grey,
    x-dark-grey:  $color-x-dark-grey
);

// Font Colors
$base-font-color: $color-dark-grey;
$action-color: $color-blue;

// Border
$base-border-color: $color-light-grey;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: $color-cream;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba($color-dark-grey, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 250ms;
$base-timing: ease;
$base-transition: all $base-duration $base-timing;
