.container {
  padding-top: 2rem;
}
.create__type.box {
  display: flex; 
  align-items: center;
  margin-bottom: 1rem;
}

.card {
  padding: 2rem;
  overflow: visible;
  min-height: initial;
}

.create__type p {
  margin: 0;
}

@media only screen and (max-width: 64em) {
  .create__type.box {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .create__container.card {
      border-radius: 0;
      box-shadow: none;
      margin: 0 0 1rem 0;
  }
  .create__heading {
    padding: 0 2rem;
  }
  .row {
    margin-right: 0;
    margin-left: 0;
  }
  .col-xs-12 {
    padding-right: 0;
    padding-left: 0;
  }

}

