.avatar--medium {
    display: block;
    margin: 20px auto;
}

hr {
    margin-top: 20px;
    width: 30%;
}

textarea {
    height: 30rem;
}

.post__buttons button {
    display: block;
    float: right;
    margin: 1rem .5rem .5rem .5rem;
}