.avatar--medium {
    display: block;
    margin: 20px auto;
}

hr {
    margin-top: 20px;
    width: 30%;
}

textarea {
    height: 30rem;
}

form {
    height: 100%;
}

@media only screen and (max-width: 64em) {
    .card {
        border-radius: 0;
        box-shadow: none;
        margin: 0 0 1rem 0;
    }
    .card__inner {
        padding: 1.5rem;
    }

    .main {
        margin-top: 0;
    }
}