<app-breadcrumbs></app-breadcrumbs>
<div class="container">
  <div *ngIf="post" class="row main">

    <article class="col-md-12 col-lg-8">
      <div class="card card__inner">
        <div class="box">
          <div class="row">
            <div class="col-xs-12 col-md-3">
                  <a [routerLink]="['/profile', post.author.userId]"><img class="avatar--medium" src="http://via.placeholder.com/60x60" alt="{{post.author.displayName}}, profile photo"></a>
            </div>
            <div class="col-xs-12 col-md-9">
              <hr class="hr">
              <h1 class="heading font-color--dark">{{post.title}}</h1>
              <p class="font-accent">by <a [routerLink]="['/profile', post.author.userId]">{{post.author.displayName}}</a></p>
              <div [innerHTML]="post.content.html"></div>
              <div *ngIf="self">
                <button class="oval-button oval-button__outline oval-button__outline--warning" (click)="onEdit()">Edit</button>
                <button class="oval-button oval-button__outline oval-button__outline--error" (click)="onDelete()">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>

    <aside class="col-md-12 col-lg-4">
      <p class="heading font-color--medium-grey">Other Posts</p>
      <ul>
        <li><a href="">Lorem ipsum dolor sit amet</a></li>
        <li><a href="">Consectetur adipisicing elit. Commodi quia omnis repudiandae animi unde.</a></li>
        <li><a href=""> iusto explicabo</a></li>
        <li><a href="">Dolore veritatis dolores similique?</a></li>
        <li><a href=""> Laboriosam quisquam ex inventore sit maxime quas.</a></li>
      </ul>
    </aside>
  </div>
</div>
