@import "user-profile";
@import "post";


* {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    background-color: $base-background-color;
}

.main {
    margin-top: 2rem;
    margin-bottom: 2rem;
    @media only screen and (max-width: 64em) {
        margin-top: 1rem;
    }
}