<app-breadcrumbs></app-breadcrumbs>
<div class="container">
  <div *ngIf="post" class="row main">

      <article *ngIf="!editing" class="col-md-12 col-lg-8">
        <img src="{{post.content.photoUrl}}" alt="{{post.title}}">
        <div class="card card__inner">
          <p>{{post.title}} <span *ngIf="post.author.displayName">by <a [routerLink]="['/profile', post.author.userId]">{{post.author.displayName}}</a></span></p>
          <div *ngIf="self" class="post__buttons">
            <button class="oval-button oval-button__outline oval-button__outline--error" (click)="onDelete()">Delete</button>
            <button class="oval-button oval-button__outline oval-button__outline--success" (click)="onEdit()">Edit</button>
          </div>
        </div>
      </article>

      <div *ngIf="editing" class="col-md-12 col-lg-8">
        <div class="card card__inner">
          <form
                #updatePhotoPostForm="ngForm" 
                (ngSubmit)="onUpdatePost()"
                class="col-xs-12 col-md-9">
                <hr class="hr">
                <label for="title">Title</label>
                <input
                  #title="ngModel"
                  id="title"
                  name="title"
                  [(ngModel)]="post.title"
                  type="text"
                  required>
                <p *ngIf="title.errors?.required" class="flash flash--error">You need a title.</p>

                <label for="photoUrl">Photo Url</label>
                <input
                  #photoUrl="ngModel"
                  id="photoUrl"
                  name="content.photoUrl"
                  [(ngModel)]="post.content.photoUrl"
                  type="text"
                  required>
                <p *ngIf="photoUrl.errors?.required" class="flash flash--error">Say a few words about your blog post..</p>

                 <div class="post__buttons">
                  <button type="submit" class="oval-button oval-button__fill oval-button__fill--success" [disabled]="!updatePhotoPostForm.form.valid">Save</button> 
                  <button class="oval-button oval-button__outline oval-button__outline--grey" (click)="onEdit()">Cancel</button>
                </div>
            </form>
        </div>

      </div>

      <aside class="col-md-12 col-lg-4">
        <p class="heading font-color--medium-grey">Other Posts</p>
        <ul>
          <li><a href="">Lorem ipsum dolor sit amet</a></li>
          <li><a href="">Consectetur adipisicing elit. Commodi quia omnis repudiandae animi unde.</a></li>
          <li><a href=""> iusto explicabo</a></li>
          <li><a href="">Dolore veritatis dolores similique?</a></li>
          <li><a href=""> Laboriosam quisquam ex inventore sit maxime quas.</a></li>
        </ul>

      </aside>

  </div>
</div>
