<div class="user-profile__outer">
  <div class="container">
    <div *ngIf="user" class="row user-profile">

        <div class="col-xs-12 col-md-4 user-profile__left">
          <div class="box">
          </div>
        </div>

        <div class="col-xs-12 col-md-8 user-profile__right">
          <div class="box">
            <img src="{{user.picture}}" class="user-profile__avatar avatar--large">
            <p *ngIf="self" class="user-profile__log-out">
              <a class="heading font-color--light" (click)="logout()">Log Out</a>
            </p>
            <h1 class="user-profile__name">{{user.name.firstName}} {{user.name.lastName}}</h1>
            <p class="user-profile__bio">{{user.bio}}</p>
            <p class="user-profile__stats">followers {{user.followers.length}}   |   following {{user.followers.length}}   |   posts ###</p>
            <button class="oval-button oval-button__fill oval-button__fill--default">Follow</button>
          </div>
        </div>

    </div>
    <div class="user-profile__error" *ngIf="!user">
      <p class="font-color--light user-profile__bio">Profile doesn&rsquo;t exist.</p>
      </div>
  </div>
</div>
<p>

<div class="container">
  <main class="row main">
    <app-card-collection class="col-xs-12 col-sm-6 col-md-4"></app-card-collection>
  </main>
</div>


