<nav class="navigation">
  <div class="container">
  <div class="row middle-xs">

  <div class="col-xs-12
              col-md-2">
  <div class="box">

    <h1><a routerLink="/">Meenk</a></h1>

  </div>
  </div>

  <div class="col-xs-12
              col-md-7">
  <div class="box">
    <form action="PUT">
      <input class="navigation__search input input--light" type="text" placeholder="Search for a bit of perfect…">
    </form>
  </div>
  </div>

  <div class="col-xs-12
              col-md-3">
  <div class="box navigation__last">
    <p class="username heading font-color--light"><a [routerLink]="['/profile', 1]">Ria Carmin</a></p>
    <a [routerLink]="['/profile', 1]"><img class="avatar--small" src="http://via.placeholder.com/60x60" alt="Ria Carmin, profile photo"></a>
    <a [routerLink]="['/create']"href="" class="round-button round-button--default">+ <span class="screen-reader">Create a Post</span></a>

  </div>
  </div>
 
  </div>
  </div>
</nav>