<nav class="navigation">
  <div class="container">
  <div class="row middle-xs">

  <div class="col-xs-12
              col-md-1">
  <div class="box">

    <h1><a routerLink="/">
      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 147.27 21"><defs><style>.cls-1{fill:#fff;}</style></defs><title>Artboard 1</title><path class="cls-1" d="M14.34,8.58l-3.12,3.3L8.79,14.49l-2.4-2.64L3.3,8.49V21H0V0L8.82,9.63,17.64.27V21h-3.3Z"/><path class="cls-1" d="M48,21H36.84V0H48V3.3H40.14V8.85H48v3.3H40.14V17.7H48Z"/><path class="cls-1" d="M77.91,21H66.75V0H77.91V3.3H70V8.85h7.86v3.3H70V17.7h7.86Z"/><path class="cls-1" d="M112.26,21H109l-9-7v7h-3.3V0H100V9.78l9,7V0h3.3Z"/><path class="cls-1" d="M147.27,21h-3.72l-4.11-7.86L134.76,21h-3.3V0h3.3V14.55L143.43,0h3.84l-5.85,9.81Z"/></svg>
    </a></h1>

  </div>
  </div>

  <div class="col-xs-12
              col-md-8">
  <div class="box">
    <form action="PUT">
      <input class="navigation__search input input--light" type="text" placeholder="Search for a bit of perfect…">
    </form>
  </div>
  </div>

  <div class="col-xs-12
              col-md-3">
  <div class="box navigation__last">
    <div *ngIf="usersService.loggedIn">
      <p *ngIf="user" class="username heading font-color--light"><a [routerLink]="['/profile', user._id]">{{user.name.firstName}} {{user.name.lastName}}</a></p>
      <a *ngIf="user" [routerLink]="['/profile', user._id]"><img class="avatar--small" src="{{user.picture}}" alt="{{user.name.firstName}} {{user.name.lastName}}, profile photo"></a>
      <a [routerLink]="['/create']" class="round-button round-button--default">+ <span class="screen-reader">Create a Post</span></a>

    </div>
    <div *ngIf="!usersService.loggedIn">
      <p class="username heading font-color--light">
        <a (click)="onLogin()">Log In</a>
        <a class="oval-button oval-button__fill oval-button__fill--default" (click)="onLogin()">Sign Up</a>
      </p>
    </div>
  </div>
  </div>
 
  </div>
  </div>
</nav>