.card__inner {
    padding-top: 2rem;
}

h1 {
    color: #88b2cc;
    font-size: 3rem;
    text-transform: uppercase;
    border-right: 600px solid rgba(136, 178, 204, .2);
    padding-right: 1rem;
}

.demo__first {
    margin-top: 5.75rem;
    margin-bottom: 1rem;
}

.demo__button {
    margin-bottom: 1.75rem;
    display: block;
    text-align: center;
    height: 2.5rem;
}

@media only screen and (max-width: 64em) {
    .col-xs-12 {
        padding-right: 0rem;
        padding-left: 0rem;
    }
    .row {
        margin-left: 0;
        margin-right:0;
    }
    .card {
        border-radius: 0;
        box-shadow: none;
        margin-top: 0;
        margin-bottom: 1rem;
    }
    .card__inner {
        padding: 1.5rem;
    }

    .main {
        margin-top: 0;
    }
}