<app-breadcrumbs></app-breadcrumbs>
<div class="container">
  <div class="row main">

    <article class="col-xs-12">
      <div class="card card__inner">
        <div class="box">
          <div class="row">
            <div class="col-xs-12 col-md-4">
              <h2>PERSONAL</h2>
              <hr class="hr">
              <p>Reviews, tutorials and daily looks! This is your personal space for all the amazing things you are into.</p>
            </div>
            <div class="col-xs-12 col-md-4">
              <h2>EXCITING</h2>
              <hr class="hr">
              <p>Find daily inspiration, meet like-minded creative types and collaborate on awesome projects.</p>
            </div>
            <div class="col-xs-12 col-md-4">
              <h2>REWARDING</h2>
              <hr class="hr">
              <p>Redeem your reward points for gifts from your favorite brands.</p>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
