<app-breadcrumbs></app-breadcrumbs>
<div class="container">
  <div class="row main">

    <article class="col-xs-12 col-md-12">
      <div class="card card__inner">
        <div class="box">
          <div class="row">
            <main class="col-xs-12 col-md-9">
              <h1>Big Vision</h1>
              <img src="http://loveux.co/assets/meenk/grid.png" alt="Rich experience with a variety of content types.">
            </main>

            <aside class="col-xs-12 col-md-3">
              <p class="demo__first font-accent">Try posting anonymously to the platform to see how it works.</p>
              <a [routerLink]="['/demo/create']" class="demo__button oval-button oval-button__outline oval-button__outline--success">Demo Post</a>
              <h2>PERSONAL</h2>
              <hr class="hr">
              <p>Reviews, tutorials and daily looks! This is your personal space for all the amazing things you are into.</p>

              <h2>EXCITING</h2>
              <hr class="hr">
              <p>Find daily inspiration, meet like-minded creative types and collaborate on awesome projects.</p>

              <h2>REWARDING</h2>
              <hr class="hr">
              <p>Redeem your reward points for gifts from your favorite brands.</p>
            </aside>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
