.card {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: block;
  position: relative;
  margin-bottom: 1rem;
  min-height: 260px;
  @media only screen and (max-width: 64em) {
    margin: .3rem 0;
  }

  &__inner {
    padding: 1rem;
  }
  &__photo {
      background-size: cover;
      background-position: center center;
  }
  &__overlay {
    position:absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-color: transparentize($color-dark-grey, .6);
    transition: all 250ms ease;
    &:hover {
      background-color: transparentize($color-dark-grey, .8);
    }
  }
  &__half {
    display: inline-block;
    width: 50%;
    height:100%;
    float: left;
    box-sizing: border-box;

    &--photo {
      background-size: cover;
      background-position: center center;
    }

    &--text {
      text-align: center;
      padding: 2rem .5rem;
    }
  }
}

.card-loading {
  &__header,
  &__author,
  &__text,
  &__hr {
    animation-duration: 1.5s;
    animation-name: cardLoadingPulse;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
  }

  &__header,
  &__author,
  &__text {
    height: 1rem;
    background-color: $color-medium-grey;
    margin: .5rem 0;
  }
  &__header {
    &--1 {
      width: 70%;
    }
    &--2 {
      width: 50%;
      margin-bottom: 1rem;
    }
  }

  &__author {
    width: 25%;
  }

  &__text {
    width: 100%;
  }
}

@keyframes cardLoadingPulse {
  from {
    opacity: .4;
  }
  to {
    opacity: .1;
  }
}
