.heading {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: $font-bold;

  small {
    font-size: 1rem;
    opacity: .75;
    display: block;
  }
}

.font-color {
  @each $theme, $color in $grey-colors {
    &--#{$theme} {
      color: $color;
    }
  }

  @each $theme, $color in $ui-colors {
    &--#{$theme} {
      color: $color;
    }
  }
}

.font-accent {
  font-family: $accent-font-family;
}

.hr {
  display: block;
  margin-top: 0;
  margin-bottom: .75rem;
  height: .75rem;
  border: none;
  background-color: $action-color;
  width: 60%;
}
