.card {
    height: 240px;
}

.card__inner {
    padding-top: 1rem;
}

.card__bottom {
    position: absolute;
    bottom: 0rem;
    left: 0;
    width: 100%;
    padding: 0 .5rem;
    text-align: center;
}

.card__bottom a {
    width: 100%;
    display: block;
    padding-top: .3rem;
}