<article class="box">
  <div class="card">
    <img src="https://placeholdit.co//i/555x250">
    <div class="card__inner">
      <hr class="hr">
      <h1 class="heading font-color--dark">{{post.title}}</h1>
      <p class="font-accent">by <a href="">{{post.author.displayName}}</a></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus saepe iure et quos consequuntur autem iste dolor molestiae impedit...</p>
      <p><a [routerLink]="['/post', 1]" class="oval-button oval-button__outline oval-button__outline--default">Read</a></p>
    </div>
  </div>
</article>